<section class="hero lg vcenter dark">
    <!-- Background-->
    <div style="background-image: url(./assets/img/grf2.jpg);" class="bg parallax faded-subtle"></div>
    <div class="container text-center">
        <!-- Content-->
        <h1 class="lg item">Diseño Gráfico</h1>

    </div>
</section>
<section>
    <div class="container">
        <!-- Portfolio grid-->
        <div class="grid ">
            <div class="grid-sizer"></div>
            <!-- Portfolio item-->
            <div *ngFor="let portafolio of portafolios ">

                <a data-toggle="modal" [attr.data-target]="'#' + grafico.popup">
                    <div class="article-info">
                        <h1>{{post.title}}</h1>
                        <div class="introHome" [innerHtml]="post.description | safe: 'html' "></div>
                        <div class="image-article">
                            <a [routerLink]="['/portafolio', post.slug]">
                                <div *ngIf="!post.image">
                                    <div class="no-image"></div>
                                </div>
                                <div *ngIf="post.image">
                                    <div class="got-image" style="background-image: url('{{imagenSerUrl}}portafolios/{{post.image}}')" title="{{post.title}}"></div>
                                    <!-- <img class="img-responsive" [src]="post.image | imagenPipe: 'posts'" alt=" {{post.title}}" /> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="article-options">
                        <div class="topic badge badge-pill badge-light mr-1">
                            {{post.categories.name}}
                        </div>
                        
                        <div class="options-icons">
                            <a (click)="addToFavorites()">
                                <img src="./assets/svg/marcador.svg" alt="">
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="service-error" *ngIf="error">
                {{error}}
            </div>

        </div>
    </div>
</section>
<!-- <app-modalgrafico></app-modalgrafico> -->