<div class="rbt-banner-area rbt-banner-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pb--120 pt--70">
                <div class="content">
                    <div class="inner">
                        <div class="rbt-new-badge rbt-new-badge-one">
                            <span class="rbt-new-badge-icon">🏆</span> The Leader in Online Learning
                        </div>

                        <h1 class="title">
                            Build The Skills <br> To Drive Your Career.
                        </h1>
                        <p class="description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            <strong>Velit
                                officia consequat.</strong>
                        </p>
                        <div class="slider-btn">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Course</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="shape-wrapper" id="scene">
                        <img src="assets/images/banner/banner-01.png" alt="Hero Image">
                        <div class="hero-bg-shape-1 layer" data-depth="0.4">
                            <img src="assets/images/shape/shape-01.png" alt="Hero Image Background Shape">
                        </div>
                        <div class="hero-bg-shape-2 layer" data-depth="0.4">
                            <img src="assets/images/shape/shape-02.png" alt="Hero Image Background Shape">
                        </div>
                    </div>

                    <div class="banner-card pb--60 mb--50 swiper rbt-dot-bottom-center banner-swiper-active" *ngIf="discount_banner">
                        <div class="swiper-wrapper">
                            <ng-container *ngFor="let course of discount_banner_courses">
                                <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a [routerLink]="['/tienda-guest/landing-curso/',course.slug]" [queryParams]="{'campaing_discount':discount_banner.id}">
                                            <img [src]="course.imagen" [alt]="course.title">
                                            <div class="rbt-badge-3 bg-white">
                                                <span *ngIf="discount_banner.type_discount == 1">-{{discount_banner.discount}}%</span>
                                                <span *ngIf="discount_banner.type_discount == 2">-{{discount_banner.discount}}USD</span>
                                                <span >OFF</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <ul class="rbt-meta">
                                            <li><i class="feather-book"></i>{{course.count_class}} Lessons</li>
                                            <li><i class="feather-users"></i>{{course.count_students}} Students</li>
                                            <li><i class="feather-play"></i>{{course.time_course}}</li>
                                        </ul>
                                        <h4 class="rbt-card-title"><a [routerLink]="['/tienda-guest/landing-curso/',course.slug]" [queryParams]="{'campaing_discount':discount_banner.id}">{{course.title}}</a>
                                        </h4>
                                        <p class="rbt-card-text">{{course.subtitle}}</p>
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star" [ngClass]="{'rating':course.avg_reviews < 1}"></i>
                                                <i class="fas fa-star" [ngClass]="{'rating':course.avg_reviews < 2}"></i>
                                                <i class="fas fa-star" [ngClass]="{'rating':course.avg_reviews < 3}"></i>
                                                <i class="fas fa-star" [ngClass]="{'rating':course.avg_reviews < 4}"></i>
                                                <i class="fas fa-star" [ngClass]="{'rating':course.avg_reviews < 5}"></i>
                                            </div>
                                            <span class="rating-count"> ({{course.count_reviews}} Reviews)</span>
                                        </div>
                                        <div class="rbt-card-bottom">
                                            <div class="rbt-price">
                                                <span class="current-price">{{getNewTotal(course, discount_banner)}} USD</span>
                                                <span class="off-price">{{course.price_usd|currency}} USD</span>
                                            </div>
                                            <a class="rbt-btn-link" href="#" onclick="return false;" (click)="addCart(course, discount_banner)">
                                                <i class="feather-shopping-cart"></i>
                                                Add to Cart
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->
                            </ng-container>
                            
                        </div>
                        <div class="rbt-swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>