<app-banner-soluciones></app-banner-soluciones>
<section>
    <div class="container content ">
        <div class="row g-5 mb--60">
            <div class="col-lg-12">
                <div class="title-block item text-center" style="padding-top: 30px;">
                    <h3>“Estoy convencido de que por lo menos la mitad de lo que separa a los emprendedores exitosos de los que no lo son es mera perseverancia.”" </h3>
                    <p>Steve Jobs.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="rbt-course-card-area rbt-section-gap bg-color-white">
    <div class="container">
        <div class="row g-5 mb--60 align-items-center">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title">Soluciones<span class="theme-gradient">Web</span></h2>
                    <p class="description mt--20">Quieres  <strong>Mejorar tu Emprendimiento o negocio?</strong></p>
                </div>
            </div>
        </div>
        <!-- Start Card Area -->
        <div class="row g-5">
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Diseño Gráfico.
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Creamos en formatos de impresión y digital, atractivos diseños para sus publicaciones.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Diseño y Desarrollo Web UI UX.
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Diseñamos y desarrollamos su sito web en diferentes formatos para diferentes Dispositivos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Diseño y Desarrollo WebApp.
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Su sitio web optimizada como una Aplicación web. Utilizando Angular, laravel y/ o nodejs con mysql y/o mongodb</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Diseño y Desarrollo WebApp Progresive.
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Su sitio web optimizada como una Aplicación web progresiva instalable en los dispositivos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Producción en Video
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Destaque en sus negocio o producto para medios audiovisuales.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Soluciones Web
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Le asesoramos por un posible camino al éxito.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Mailmarketing
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Estrategia comprobada de mensajería de correos con personalizados diseños.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Outsourcing
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Con el servicio outsourcing estamos disponibles en las áreas especifica para cada sector brindando un excelente nivel costo-beneficio.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card variation-03 rbt-hover program-image-large">
                    <div class="card-body text-center">
                        <div class="icon fa fa-unlock-alt item"></div>
                        <div class="clear"></div>
                        <h5 class="rbt-card-title">Optimización a Dispositivos
                        </h5>
                        <div class="clear"></div>
                        <div class="rbt-card-bottom">
                            <p>Optimizamos tu sitio web a dispositivos móviles.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
        </div>
        <!-- End Card Area -->
        
    </div>
</div>

<section class="hero lg vcenter dark">
    <!-- Background-->
    <div class="container text-center">
        <!-- Content-->
        <h3 class="lg item">Visita el Portafolio, </h3>
        <p>y escoge algunas ideas!</p>

    </div>
</section>

<app-footer></app-footer>