<main class="rbt-main-wrapper">
  <!-- Start Banner Area -->
  <app-banner-inicio></app-banner-inicio>
  <!-- End Banner Area -->
  <section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12 mt-5 mb-5">
                <div class="title-block text-center">
                    <h3 class="item">"{{ 'El arte expande posibilidades, el desarrollo las concreta.'|translate}}"  </h3>
                    <p>{{ 'Pensamiento Personal.'|translate}}</p>
                </div>

                

            </div>
        </div>
    </div>
</section>
<!-- Start About Area  -->
<div class="rbt-about-area bg-color-white rbt-section-gapTop pb_md--80 pb_sm--80 about-style-1 mb--60">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="thumbnail-wrapper">
                    <div class="thumbnail image-1">
                        <img data-parallax='{"x": 0, "y": -20}' src="./assets/images/qrcode.png" alt="Education Images">
                    </div>
                    <div class="thumbnail image-2 d-none d-xl-block">
                        <img data-parallax='{"x": 0, "y": 60}' src="assets/images/logo/logomalcolm.png" alt="Education Images">
                    </div>
                    <div class="thumbnail image-3 d-none d-md-block">
                        <img data-parallax='{"x": 0, "y": 80}' src="assets/images/about/about-03.png" alt="Education Images">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner pl--50 pl_sm--0 pl_md--0">
                    <div class="section-title text-start">
                        <span class="subtitle bg-coral-opacity">Nuestra Estrategía</span>
                        <h2 class="title">Tu emprendimiento <br />donde sea posible.</h2>
                    </div>

                    <p class="description mt--30">Vamos de la mano por la mejor via guiando desde la creación de tu logotipo, imagen corporativa, base para redes sociales, aplicaciones web y mucho más.</p>

                    <!-- Start Feature List  -->

                    <div class="rbt-feature-wrapper mt--20 ml_dec_20">
                      <div class="rbt-feature feature-style-2 rbt-radius">
                          <div class="icon bg-pink-opacity">
                              <i class="feather-heart"></i>
                          </div>
                          <div class="feature-content">
                              <h6 class="feature-title">{{ 'Imagen Personal y / o Corporativa'|translate}}</h6>
                              <p class="feature-description">{{ 'Diseños pensados para tu emprendimiento.'|translate}}</p>
                          </div>
                      </div>

                        <div class="rbt-feature feature-style-2 rbt-radius">
                            <div class="icon bg-primary-opacity">
                                <i class="feather-book"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">{{ 'Seguimiento de tu posicionamiento en la web'|translate}}</h6>
                                <p class="feature-description">{{ 'Supervisa la posición de tu sitio en Google con reportes mensuales.'|translate}}</p>
                            </div>
                        </div>
                        <div class="rbt-feature feature-style-2 rbt-radius">
                            <div class="icon bg-primary-opacity">
                                <i class="feather-book"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title"> {{ 'Optimizado para Móviles.'|translate}}</h6>
                                <p class="feature-description">{{ 'Obten una agradable experiencia de usuario desde tu tablet o móvil'|translate}}</p>
                            </div>
                        </div>
                        <div class="rbt-feature feature-style-2 rbt-radius">
                          <div class="icon bg-pink-opacity">
                              <i class="feather-heart"></i>
                          </div>
                          <div class="feature-content">
                              <h6 class="feature-title">SEO </h6>
                              <p class="feature-description">{{ 'SEO es el proceso de hacer que tu sitio web sea más "amigable" para los buscadores como Google, Bing o Yahoo, lo que les ayuda a clasificar tu sitio y mostrarlo en los resultados de búsqueda relevantes.'|translate}} </p>
                          </div>
                      </div>
                    </div>

                    <!-- End Feature List  -->
                    <div class="about-btn mt--40">
                        <a class="rbt-btn btn-gradient hover-icon-reverse" routerLink="soluciones-web">
                            <span class="icon-reverse-wrapper">
                    <span class="btn-text">+ Info</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area  -->

<!-- Start Call To Action  -->
<div class="rbt-callto-action-area mt_dec--half mb--60 ">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="rbt-callto-action callto-action-default bg-color-white rbt-radius shadow-1">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-xl-5">
                            <div class="inner">
                                <div class="rbt-category mb--20">
                                    <a href="#"> {{ 'Impreso y dinámico.'|translate}}</a>
                                </div>
                                <h4 class="title mb--15">{{ 'Código Qr con su logo.'|translate}}</h4>
                                <p class="mb--15">{{ 'Diseñamos tus tarjetas coorporativas con codigo QR fácil de escanear para que tus clientes guarden tus datos con facilidad, puede probar con su teléfono y contactarnos!'|translate}}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-7">
                            <div class="video-popup-wrapper mt_lg--10 mt_md--20 mt_sm--20">
                                <img class="w-100 rbt-radius" src="./assets/images/qrcode.png" alt="Video Images">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rbt-callto-action callto-action-default bg-color-white rbt-radius shadow-1">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="row">
                                
                                  <div class="rbt-category mb--20 col-xl-6">
                                    <a href="#">Email Marketing</a>
                                    <h4 class="title mb--10">{{ 'Campañas de promoción por correo.'|translate}} </h4>
                                </div>
                                <div class="col-lg-12 col-xl-6">
                                  <div class="video-popup-wrapper mt_lg--10 mt_md--20 mt_sm--20">
                                      <img class="w-100 rbt-radius" src="./assets/gif/inbox-gif.gif" alt="Malcolm Cordova Studio Design emailmarketing">
                                      
                                  </div>
                              </div>
                              <p class="mb--15 col-12">{{ 'Agradables y dedicados diseños adaptados a tu app de correo(móvil y escritorio)'|translate}}</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call To Action  -->


<!-- Proyectos Recientes -->
<!-- <app-endesarollo></app-endesarollo> -->
<!-- Proyectos Recientes -->
<!-- newsletter-->
<div class="rbt-newsletter-area newsletter-style-2 bg-color-primary rbt-section-gap">
    <div class="container">
        <div class="row row--15 align-items-center">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <div class="section-title text-center">
                        <span class="subtitle bg-white-opacity">{{ 'Mantente actualizado.'|translate}} </span>
                        <h2 class="title color-white"><strong>{{ 'Subscribete'|translate}}</strong> {{ 'al Newsletter'|translate}}</h2>
                        <p class="description color-white mt--20">{{ 'Permanece en contacto por actualizaciones y promociones'|translate}}</p>
                    </div>
                    <form class="newsletter-form-1 mt--40" (ngSubmit)="crearUsuario()">
                        <input type="email" [(ngModel)]="email" name="email" placeholder="Enter Your E-Email">
                        <button type="submit" (click)="crearUsuario()" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                            <span class="icon-reverse-wrapper">
                    <span class="btn-text">{{ 'Subscribirme.'|translate}}</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </button>
                    </form>

                    <span class="note-text color-white mt--20">{{ 'No publicidad de terceros, ni ofertas engañosas.'|translate}}</span>

                </div>
            </div>
        </div>
    </div>
</div>


 

  <!-- Start Footer aera -->
  <app-footer></app-footer>
  <!-- End Footer aera -->
  

</main>

<!-- End Page Wrapper Area -->
<div class="rbt-progress-parent">
  <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>

