 <!-- End Side Vav -->
 <a class="close_side_menu" href="javascript:void(0);"></a>

 <div class="rbt-conatct-area bg-gradient-11 rbt-section-gap">
     <div class="container">
         <div class="row">
             <div class="col-lg-12">
                 <div class="section-title text-center mb--60">
                     <span class="subtitle bg-secondary-opacity">Contactame</span>
                     <h2 class="title">Juntos podemos materializar <br> lo que imaginas!.</h2>
                 </div>
             </div>
         </div>
         <div class="row g-5">
             <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                 <div class="rbt-address">
                     <div class="icon">
                         <i class="feather-headphones"></i>
                     </div>
                     <div class="inner">
                         <h4 class="title">Número de Contacto</h4>
                         <ul class="social-icon social-default icon-naked justify-content-start mt--20">
                            <li><a href="tel:+584241874370" target="_blank"><i class="feather-phone"></i></a></li>
                            <li><a href="https://wa.me/584241874370" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                         </ul>
                         
                           
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                 <div class="rbt-address">
                     <div class="icon">
                         <i class="feather-mail"></i>
                     </div>
                     <div class="inner">
                         <h4 class="title">Redes Sociales</h4>
                         <!-- <p><a href="mailto:admin@gmail.com">admin@gmail.com</a></p>
                         <p><a href="mailto:example@gmail.com">example@gmail.com</a></p> -->
                         <ul class="social-icon social-default icon-naked justify-content-start mt--20">
                            <li>
                                <a href="https://facebook.com/@malcolmcordova"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <!-- <li>
                                <a href="https://intagram.com/@malcolmcordova"><i class="fab fa-twitter"></i></a>
                            </li> -->
                            <li>
                                <a href="https://linkedin.com/@malcolmcordova"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/@malcolmcordova"><i class="fab fa-instagram"></i></a>
                            </li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="250" data-sal-duration="800">
                 <div class="rbt-address">
                     <div class="icon">
                         <i class="feather-map-pin"></i>
                     </div>
                     <div class="inner">
                         <h4 class="title">Locación</h4>
                         <p>Caracas, Venezuela</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <div class="rbt-contact-address">
     <div class="container">
         <div class="row g-5">
             <div class="col-lg-6">
                 <div class="thumbnail">
                     <img class="w-100 radius-6" src="assets/images/about/contact.png" alt="Contact Images">
                 </div>
             </div>

             <div class="col-lg-6">
                 <div class="rbt-contact-form contact-form-style-1 ">
                     <div class="section-title text-start">
                         <span class="subtitle bg-primary-opacity">Mantengamos el contacto</span>
                     </div>
                     <h3 class="title">Conversemos!</h3>
                     <form id="contact-form"  class="rainbow-dynamic-form max-width-auto" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
                        <div class="form-group camp col-12">
                            <input type="text" name="name" id="name" formControlName="name" class="form-control" placeholder="Nombre" required #name>
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
                                <div *ngIf="name?.errors.required">
                                    El Nombre es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group camp col-12">
                            <input type="text" name="lastname" id="lastname" formControlName="lastname" class="form-control" placeholder="Apellido" required #lastname>
                            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="error">
                                <div *ngIf="lastname?.errors.required">
                                    El Apellido es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group camp col-12">
                            <input type="text" name="email" id="email" formControlName="email" class="form-control" placeholder="E-Mail" required email #email>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                                <div *ngIf="email?.errors.required"> El Email es requerido.</div>
                                <div *ngIf="email?.errors.email"> Debe introducir un email valido.</div>
                            </div>
                        </div>
                        <div class="form-group camp col-12">
                            <input type="text" name="phone" id="phone" formControlName="phone" class="form-control" placeholder=" Teléfono">
                        </div>
                        <div class="form-group camp col-12">
                            <input type="text" name="whatsapp" id="whatsapp" formControlName="whatsapp" class="form-control" placeholder=" whatsapp">
                        </div>
                        <div class="form-group camp col-12">
                            <input type="text" name="subject" id="subject" formControlName="subject" class="form-control" placeholder=" Tema">
                        </div>
                        <div class="form-group camp2 col-xs-12">
                            <textarea name="comment" id="comment" formControlName="comment" rows="5" class="form-control" placeholder=" comment" required #comment></textarea>
                            <div *ngIf="comment.invalid && (comment.dirty || comment.touched)" class="error">
                                <div *ngIf="comment?.errors.required">El Mensaje es requerido.</div>
                            </div>
                        </div>
                         <div class="form-submit-group">
                             <button name="submit" type="submit" id="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                 <span class="icon-reverse-wrapper">
                                     <span class="btn-text">ENVIAR</span>
                                 <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                 <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                 </span>
                             </button>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <!-- <div class="rbt-google-map bg-color-white rbt-section-gapTop">
     <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" height="600" style="border:0"></iframe>
 </div> -->
 <app-footer></app-footer>

