
    <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-8 variation-02">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-10 offset-lg-1">
                    <div class="content">
                        <div class="inner text-center">
                            

                            <h1 class="title">Se vive 
                                <span class="header-caption">
                                    <span class="cd-headline clip is-full-width">
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible theme-gradient">El Diseño.</b>
                                            <b class="is-hidden theme-gradient">Vission.</b>
                                            <b class="is-hidden theme-gradient">Planning.</b>
                                        </span>
                                </span>
                                </span>
                            </h1>
                            <p class="description has-medium-font-size mt--20">Todo es Arte y Evolución.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->


    <!-- Start Video Area  -->
    <!-- <div class="rbt-video-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-popup-wrapper">
                        <img class="w-100 rbt-radius" src="assets/images/bg/bg-image-12.jpg" alt="Video Images">
                        <a class="rbt-btn rounded-player-2 popup-video position-to-top with-animation btn-theme-color" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                            <span class="play-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Video Area  -->


    <!-- <div class="rbt-about-area about-style-1 bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="content">
                        <img src="assets/images/about/about-06.png" alt="About Images">
                    </div>
                </div>
                <div class="col-lg-6" data-sal="slide-up" data-sal-duration="700">
                    <div class="inner pl--50 pl_sm--5">
                        <div class="content text-start">
                            <span class="rbt-badge-6 bg-primary-opacity">About Histudy</span>
                            <h3 class="title">Welcome to Histudy for your skills with best Online courses.</h3>
                            <p class="description mt--30"><strong>Histudy educational platform</strong> ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="description">Nam inventore praesentium alias incidunt! Veritatis, necessitatibus fuga dolore tenetur, beatae suscipit fugit est ea perspiciatis quo provident nisi dolor similique architecto nihil.</p>
                            <div class="read-more-btn mt--40">
                                <a class="rbt-btn rbt-marquee-btn radius-round btn-gradient" href="#">
                                    <span data-text="Start Learning For Free">
                                        Start Learning For Free
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

   

    <!-- Start Service Area -->
    <div class="rbt-service-area bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row mb--60">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">Un poco de mí.</h2>
                        <p class="description mt--30">Especializado con una amplia variedad de sistemas y programas de ultima generación hacen posible...</p>
                    </div>
                </div>
            </div>
            <!-- Start Card Area -->
            <div class="row row--15 mt_dec--30">

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            <!-- <div class="icon">
                                <img src="assets/images/icons/001-bulb.png" alt="icons Images">
                            </div> -->
                            <div class="content">
                                <h6 class="title"><a href="#">El Reto</a></h6>
                                <p class="description">Creación de proyectos web y movil logrando resaltar admirablemente su contenido con una mejor presencia en el mercado a cual se refiera.
                                    <br> <br> Llegando a crear una marca personal a nivel óptimo de calidad.</p>
                            </div>
                            <span class="number-text">1</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            <!-- <div class="icon">
                                <img src="assets/images/icons/002-hat.png" alt="Shape Images">
                            </div> -->
                            <div class="content">
                                <h6 class="title"><a href="#">Las Conexiones</a></h6>
                                <p class="description">Seguir en continuo crecimiento, estar al día en las mejores tendecias y asi dar el mejor resultado en el mercado por ofrecer una excelente atención al cliente, crecer en servicios de alta calidad y confiabilidad.
                                    <br><br> Tener presencia a nivel global.</p>
                            </div>
                            <span class="number-text">2</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            <!-- <div class="icon">
                                <img src="assets/images/icons/003-id-card.png" alt="Shape Images">
                            </div> -->
                            <div class="content">
                                <h6 class="title"><a href="#">Preparación</a></h6>
                                <p class="description">Con mas de 20 años de experiencia la dicha de realizar proyectos creativos en variedad de dificultades obtieniendo una óptima calidad y rendimiento favorable.</p>
                            </div>
                            <span class="number-text">3</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            <!-- <div class="icon">
                                <img src="assets/images/icons/004-pass.png" alt="Shape Images">
                            </div> -->
                            <div class="content">
                                <h6 class="title"><a href="#">Evolución</a></h6>
                                <p class="description">Cumplir con las espectativas de cada cliente y / o proyecto que desee ser desarrollado en diversos medios,y así obtener los mejores resultados en relación proyecto de calidad - cliente satisfecho.</p>
                            </div>
                            <span class="number-text">4</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

            </div>
            <!-- End Card Area -->
        </div>
    </div>
    <!-- End Service Area -->


    <!-- <div class="rbt-brand-area bg-color-white ptb--60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-title text-center mb--40">
                        <span class="small-title w-600">Las Mejores tecnologías en el mundo</span>
                    </div>
                    <ul class="brand-list brand-style-3 justify-content-center justify-content-lg-between">
                        <li><a href="#"><img src="assets/images/brand/brand-01.png" alt="Apple"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-01.png" alt="Adobe"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-01.png" alt="Html5"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-02.png" alt="Css"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-03.png" alt="Js"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-05.png" alt="Ts"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-06.png" alt="Angular"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-06.png" alt="Laravel"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-06.png" alt="Nodejs"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-06.png" alt="Mysql"></a></li>
                        <li><a href="#"><img src="assets/images/brand/brand-06.png" alt="Mongodb"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->




    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
<app-footer></app-footer>
