<div class="rbt-banner-area rbt-banner-8 variation-02 with-shape backgro" style="background-image: url('assets/images/banner/03.jpg');">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-10 offset-lg-1">
                <div class="content">
                    <div class="inner text-center">
                        
                        <h1 class="title">Diseño
                            <span class="header-caption">
                                <span class="cd-headline clip is-full-width">
                                    <span class="cd-words-wrapper" style="width: 300px;">
                                        <b class="theme-gradient is-visible"> y Desarrollo Web.</b>
                                        <b class="theme-gradient is-hidden">Gráfico.</b>
                                        <b class="theme-gradient is-hidden">UI/UX.</b>
                                        <b class="theme-gradient is-hidden"> y Audio Visual.</b>
                                    </span>
                            </span>
                            </span>
                        </h1>
                        <!-- <p class="description has-medium-font-size mt--20">Amplio conocimiento en la suite de Adobe, html, Css3, Scss, javascript, php, typescript, Angular, Laravel, Nodej.
                        </p> -->
                        <div class="slider-btn rbt-button-group justify-content-center">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" routerLink="/soluciones-web">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">{{ 'Conoce la estrategia'|translate}}</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                            <!-- <a class="rbt-btn hover-icon-reverse btn-white" href="#">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Buy The Course</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>