<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
    <!-- Start Header Top  -->
    <div class="rbt-header-top rbt-header-top-1 header-space-betwween bg-not-transparent bg-color-darker top-expended-activation">
        <div class="container-fluid">
            <div class="top-expended-wrapper">
                <div class="top-expended-inner rbt-header-sec align-items-center ">
                    <div class="rbt-header-sec-col rbt-header-left d-none d-xl-block">
                        <div class="rbt-header-content">
                            <!-- Start Header Information List  -->
                            <div class="header-info">
                                <ul class="rbt-information-list">
                                    <!-- <li>
                                        <a href="#"><i class="fab fa-instagram"></i>100k <span class="d-none d-xxl-block">Followers</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-square"></i>500k <span class="d-none d-xxl-block">Followers</span></a>
                                    </li> -->
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>+58-424-187.43.70</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Header Information List  -->
                        </div>
                    </div>
                    <div class="rbt-header-sec-col rbt-header-center">
                        <div class="rbt-header-content justify-content-start justify-content-xl-center">
                            <div class="header-info">
                                <div class="rbt-header-top-news">
                                    <div class="inner">
                                        <!-- <div class="content">
                                            <span class="rbt-badge variation-02 bg-color-primary color-white radius-round">Hot</span>
                                            <span class="news-text"><img src="assets/images/icons/hand-emojji.svg" alt="Hand Emojji Images"> Intro price. Get Histudy for Big Sale -95% off.</span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rbt-header-sec-col rbt-header-right mt_md--10 mt_sm--10">
                        <div class="rbt-header-content justify-content-start justify-content-lg-end">
                            <div class="header-info d-none d-xl-block">
                                <ul class="social-share-transparent">
                                    <li>
                                        <a href="https://facebook.com/@malcolmcordova"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <!-- <li>
                                        <a href="https://intagram.com/@malcolmcordova"><i class="fab fa-twitter"></i></a>
                                    </li> -->
                                    <li>
                                        <a href="https://linkedin.com/@malcolmcordova"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/@malcolmcordova"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
  
                            <div class="rbt-separator d-none d-xl-block"></div>
  
                            <div class="header-info">
                                <ul class="rbt-dropdown-menu switcher-language">
                                    <li class="has-child-menu">
                                        <a style="cursor: pointer;">
                                            <!-- <img class="left-image" src="assets/images/icons/de.png" alt="Language Images"> -->
                                            

                                            <a *ngIf="!flag" style="cursor: pointer;" [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('en')"><span class="menu-item">Español</span></a>
                

                                            <!-- <i class="right-icon feather-chevron-down"></i> -->
                                        </a>
                                    </li>
                                    <li class="has-child-menu">
                                        <a style="cursor: pointer;">
                                            <!-- <img class="left-image" src="assets/images/icons/de.png" alt="Language Images"> -->
                                            

                                            <a *ngIf="flag" style="cursor: pointer;" [ngClass]="{'active': activeLang == 'en'}" (click)="cambiarLenguaje('es')"><span class="menu-item">English</span></a>
                

                                            <!-- <i class="right-icon feather-chevron-down"></i> -->
                                        </a>
                                    </li>
                                </ul>
                            </div>
  
                        </div>
                    </div>
                </div>
                <div class="header-info">
                    <div class="top-bar-expended d-block d-lg-none">
                        <button class="topbar-expend-button rbt-round-btn"><i class="feather-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top  -->
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="/">
                                <img src="./assets/images/logo/logotipo.png" alt="Malcolm Cordova">
                            </a>
                        </div>
                    </div>
                    <div class="header-info">
                        <!-- category menu -->
                    </div>
                </div>
  
                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a routerLink="/">{{ 'Inicio'|translate}}</a>
                            </li>
                            
                            <li class="has-dropdown has-menu-child-item">
                                <a href="#" onclick="return false;">{{ 'Portafolio'|translate}}
                                    <i class="feather-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <ng-container  *ngFor="let category of categorias">
                                        <li class="with-megamenu has-menu-child-item position-static">
                                            
                                            <a [routerLink]="['/portafolio/category/', category.id]">{{category.name}}</a>
                                        </li>
                                    </ng-container>
                                    
                                </ul>

                            </li>
                            
                            <li><a routerLink="/soluciones-web">{{ 'Soluciones Web'|translate}}</a></li>
                            <li><a routerLink="/acerca-de">{{ 'Acerca de'|translate}}</a></li>
                            <li> <a routerLink="/blog">{{ 'Blog'|translate}} </a></li>
                            <!-- <li class="with-megamenu has-menu-child-item position-static">
                                <a routerLink="/store">Tienda</a>
                            </li>
                            <li class="with-megamenu has-menu-child-item">
                                <a routerLink="/tienda-guest/listado-de-cursos">Courses </a>
                                
                            </li> -->
                            
                            
                        </ul>
                    </nav>
                </div>
  
                <div class="header-right">
  
                    <!-- Navbar Icons -->
                    
  
                    <div class="rbt-btn-wrapper d-none d-xl-block">
                        <!-- <a class="rbt-btn rbt-marquee-btn marquee-auto btn-border-gradient radius-round btn-sm hover-transform-none" routerLink="/tienda-guest/listado-de-cursos">
                            <span data-text="Cursos">Cursos</span>
                        </a> -->
                    </div>
  
                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger" (click)="openMenu()">
                            <button class="hamberger-button rbt-round-btn">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->
  
                </div>
            </div>
        </div>
    </div>
    <a class="rbt-close_side_menu" href="javascript:void(0);"></a>
</header>

<!-- Mobile Menu Section -->
<app-mobile-menu></app-mobile-menu>

  <a class="close_side_menu" href="javascript:void(0);"></a>