<div class="rbt-banner-6 variation-02 bg_image bg_image--7 header-transperent-spacer" data-black-overlay="2" style="padding-top: 132px;">
    <div class="wrapper w-100">
        <div class="container">
            <div class="row row--15 align-items-center">
                <div class="col-lg-12">
                    <div class="inner text-start">
                        <h2 class="title w-700">Hey! Potencia Tu Negocio <br>
                            <strong>
                                <span class="header-caption">
                                    <span class="cd-headline zoom">
                                        <span class="cd-words-wrapper" style="width: 708px;">
                                            <b class="theme-gradient is-visible">Usa todos los medios.</b>
                                            <!-- <b class="theme-gradient is-visible">With GYM Instructor.</b> -->
                                        </span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>