<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/logo/logotipo.png" alt="malcolm cordova">
                    </a>
                </div>
                <div class="rbt-btn-close">
                    <button class="close-button rbt-round-btn" (click)="closeMenu()"><i class="feather-x"></i></button>
                </div>
            </div>
            <!-- <p class="description">Histudy is a education website template. You can customize all.</p> -->
            <ul class="navbar-top-left rbt-information-list justify-content-start">
                <li class="has-child-menu">
                    <a style="cursor: pointer;">
                        <a *ngIf="!flag" style="cursor: pointer;" [ngClass]="{'active': activeLang == 'es'}"
                            (click)="cambiarLenguaje('en')"><span class="menu-item">Español</span></a>
                    </a>
                </li>
                <li class="has-child-menu">
                    <a style="cursor: pointer;">
                        <a *ngIf="flag" style="cursor: pointer;" [ngClass]="{'active': activeLang == 'en'}"
                            (click)="cambiarLenguaje('es')"><span class="menu-item">English</span></a>
                    </a>
                </li>
            </ul>
        </div>
        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li class=" position-static">
                    <a routerLink="/">{{ 'Inicio'|translate}} </a>
                </li>

                <li class="has-dropdown has-menu-child-item">
                    <a (click)="openSubMenu()" class="abrir">{{ 'Portafolio'|translate}}
                        <i class="feather-chevron-down"></i>
                    </a>
                    <ul class="submenu ">
                         <li class="with-megamenu has-menu-child-item position-static"
                                        *ngFor="let category of categorias">
                                        <a [routerLink]="['/portafolio/category/', category?.slug]">
                                            {{ category?.name | translateKey }}
                                        </a>
                                    </li>
                    </ul>
                </li>

                <li><a routerLink="/soluciones-web">{{ 'Soluciones Web'|translate}}</a></li>
                <li class="position-static "> <a routerLink="/acerca-de">{{ 'Acerca de'|translate}}</a></li>
                <!-- <li class="position-static "> <a routerLink="/blog">{{ 'Blog'|translate}} </a></li>
                <li class="position-static">
                    <a routerLink="/contact">{{ 'Contacto'|translate}} </a>
                </li> -->
            </ul>
        </nav>

        <div class="mobile-menu-bottom">
            <!-- <div class="rbt-btn-wrapper mb--20">
                <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="#">
                    <span>Enroll Now</span>
                </a>
            </div> -->

            <div class="social-share-wrapper">
                <!-- <span class="rbt-short-title d-block">Find With Us</span> -->
                <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                    <li><a href="https://facebook.com/malcolmcordova">
                            <i class="feather-facebook"></i>
                        </a>
                    </li>
                    <li><a href="https://instagram.com/malcolmcordova">
                            <i class="feather-instagram"></i>
                        </a>
                    </li>
                    <li><a href="https://linkedin.com/malcolmcordova">
                            <i class="feather-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>