<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>


<div class="rbt-page-banner-wrapper" *ngIf="coursesSelected">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top rbt-breadcrumb-style-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="content text-center">

                            <div
                                class="d-flex align-items-center flex-wrap justify-content-center mb--15 rbt-course-details-feature">
                                <div class="feature-sin best-seller-badge">
                                    <span class="rbt-badge-2">
                                        <span class="image"><img src="assets/images/icons/card-icon-1.png"
                                                alt="Best Seller Icon"></span> Bestseller
                                    </span>
                                </div>
                                <div class="feature-sin rating">
                                    <a href="#">{{coursesSelected.avg_reviews}}</a>
                                    <i class="fa fa-star" [ngClass]="{'ratingc':coursesSelected.avg_reviews < 1}"></i>
                                    <i class="fa fa-star" [ngClass]="{'ratingc':coursesSelected.avg_reviews < 2}"></i>
                                    <i class="fa fa-star" [ngClass]="{'ratingc':coursesSelected.avg_reviews < 3}"></i>
                                    <i class="fa fa-star" [ngClass]="{'ratingc':coursesSelected.avg_reviews < 4}"></i>
                                    <i class="fa fa-star" [ngClass]="{'ratingc':coursesSelected.avg_reviews < 5}"></i>
                                </div>
                                <div class="feature-sin total-rating">
                                    <a class="rbt-badge-4" href="#">{{coursesSelected.count_reviews}} rating</a>
                                </div>
                                <div class="feature-sin total-student">
                                    <span>{{coursesSelected.count_students}} students</span>
                                </div>
                            </div>
                            <h2 class="title theme-gradient">{{coursesSelected.title}}</h2>

                            <div class="rbt-author-meta mb--20 justify-content-center">
                                <div class="rbt-avater">
                                    <a href="#">
                                        <img [src]="coursesSelected.instructor.avatar"
                                            [alt]="coursesSelected.instructor.full_name">
                                    </a>
                                </div>
                                <div class="rbt-author-info">
                                    By <a href="#" onclick="return false;">{{coursesSelected.instructor.full_name}}</a>
                                    In <a href="#">{{coursesSelected.instructor.profesion}}</a>
                                </div>
                            </div>

                            <ul class="rbt-meta">
                                <li><i class="feather-calendar"></i>Last updated {{coursesSelected.updated_at}}</li>
                                <li><i class="feather-globe"></i>{{coursesSelected.idioma}}</li>
                                <li><i class="feather-award"></i>Certified Course</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
    </div>
</div>

<div class="rbt-section-overlayping-top rbt-section-gapBottom" *ngIf="coursesSelected">
    <div class="inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <!-- Start Viedo Wrapper  -->
                    
                    <ng-container *ngIf="classeSelected">
                        <iframe style="width: 100%;" height="800" [src]="urlVideo(classeSelected)"
                        [title]="classeSelected.name" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                    </ng-container>
                    
                    <!-- <iframe style="width: 100%;" height="800" src="https://www.youtube.com/embed/GBiyHI_rTeE"
                        title="Crea un ecommerce con Nodejs + MongoDb + Angular - MEAN" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe> -->
                    <!-- End Viedo Wrapper  -->
    

                    <div class="col-lg-12">
                        <!-- Start Course Details  -->
                        <div class="course-details-content" style="position: relative; top: -120px;">
                            <div class="rbt-inner-onepage-navigation sticky-top mt--30">
                                <nav class="mainmenu-nav onepagenav">
                                    <ul class="mainmenu">
                                        <li  [ngClass]="{'current': option_selected == 1}">
                                            <a href="#" onclick="return false;" (click)="optionSelected(1)">Course Content</a>
                                        </li>
                                        <li [ngClass]="{'current': option_selected == 2}">
                                            <a href="#" onclick="return false;" (click)="optionSelected(2)">Overview</a>
                                        </li>
                                        <li [ngClass]="{'current': option_selected == 3}">
                                            <a href="#" onclick="return false;" (click)="optionSelected(3)">Details</a>
                                        </li>
                                        <li [ngClass]="{'current': option_selected == 4}">
                                            <a href="#" onclick="return false;" (click)="optionSelected(4)">Intructor</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            
                            <div *ngIf="option_selected == 1">
                                <!-- Start Course Resource  -->
                            <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30 has-show-more"
                            id="coursepdf">
                            <div class="rbt-course-feature-inner">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3">Recursos</h4>
                                </div>
                                <div class="row" *ngIf="classeSelected">
                                    <ng-container *ngFor="let file of classeSelected.file">
                                        <div class="col-6">
                                            <div class="course-content-left">
                                                <a [href]="file.url">
                                                    <i class="feather-file-text"></i> <span class="text">{{file.name}} | {{file.size}}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </ng-container>
                                    
                                    
                                    <!-- <div class="col-6">
                                        <div class="course-content-left">
                                            <a href="">
                                                <i class="feather-file-text"></i> <span class="text">Read Before You
                                                    Start</span>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Course Resource  -->
                            </div>
                            <div *ngIf="option_selected == 2">
                            <!-- Start Course Feature Box  -->
                            <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30" id="overview">
                                <div class="rbt-course-feature-inner has-show-more-inner-content"
                            [innerHtml]="coursesSelected.description">

                        </div>
                                <!-- <div class="rbt-show-more-btn">Show More</div> -->
                            </div>
                            <!-- End Course Feature Box  -->
                            </div>
                            <div *ngIf="option_selected == 3">
                            <!-- Start Course Feature Box  -->
                            <div class="rbt-course-feature-box rbt-shadow-box details-wrapper mt--30" id="details">
                                <div class="row g-5">
                                    <!-- Start Feture Box  -->
                                    <div class="col-lg-6">
                                        <div class="section-title">
                                            <h4 class="rbt-title-style-3 mb--20">Requirements</h4>
                                        </div>
                                        <ul class="rbt-list-style-1">
                                            <ng-container *ngFor="let req of coursesSelected.requirements">
                                                <li><i class="feather-check"></i>{{req}}</li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                    <!-- End Feture Box  -->

                                    <!-- Start Feture Box  -->
                                    <div class="col-lg-6">
                                        <div class="section-title">
                                            <h4 class="rbt-title-style-3 mb--20">Para quién esta dirigido?</h4>
                                        </div>
                                        <ul class="rbt-list-style-1">
                                            <ng-container *ngFor="let who of coursesSelected.who_is_it_for">
                                                <li><i class="feather-check"></i>{{who}}</li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                    <!-- End Feture Box  -->
                                </div>
                            </div>
                            <!-- End Course Feature Box  -->
                            </div>
                            <div *ngIf="option_selected == 4">
                                 <!-- Start Intructor Area  -->
                            <div class="rbt-instructor rbt-shadow-box intructor-wrapper mt--30" id="intructor">
                                <div class="about-author border-0 pb--0 pt--0">
                                    <div class="section-title mb--30">
                                        <h4 class="rbt-title-style-3">Instructor</h4>
                                    </div>
                                    <div class="media align-items-center">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img [src]="coursesSelected.instructor.avatar"
                                                    [alt]="coursesSelected.instructor.full_name">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="author-info">
                                                <h5 class="title">
                                                    <a class="hover-flip-item-wrapper"
                                                        href="#" onclick="return false">{{coursesSelected.instructor.full_name}}</a>
                                                </h5>
                                                <span class="b3 subtitle">{{coursesSelected.instructor.profesion}} </span>
                                                <ul class="rbt-meta mb--20 mt--10">
                                                    <li><i
                                                            class="fa fa-star color-warning"></i>{{coursesSelected.instructor.count_reviews}}
                                                        Reviews <span
                                                            class="rbt-badge-5 ml--5">{{coursesSelected.instructor.avg_reviews}}
                                                            Rating</span></li>
                                                    <li><i
                                                            class="feather-users"></i>{{coursesSelected.instructor.count_students}}
                                                        Students</li>
                                                    <li><a href="#"><i class="feather-video"></i>
                                                            {{coursesSelected.instructor.courses_count}} Courses</a></li>
                                                </ul>
                                            </div>
                                            <div class="content">
                                                <p class="description">{{coursesSelected.instructor.description}}</p>
        
                                                <ul class="social-icon social-default icon-naked justify-content-start">
                                                    <li><a href="https://www.facebook.com/">
                                                            <i class="feather-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li><a href="https://www.twitter.com">
                                                            <i class="feather-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li><a href="https://www.instagram.com/">
                                                            <i class="feather-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li><a href="https://www.linkdin.com/">
                                                            <i class="feather-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
        
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Intructor Area  -->
                            </div>
                            
                        </div>
                        <!-- End Course Details  -->

                    </div>
    
    
                    
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Start Course Details  -->
                            <div class="course-details-content">
                                
                                <!-- Start Course Content  -->
                                <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30 has-show-more"
                                    id="coursecontent">
                                    <div class="rbt-course-feature-inner">
                                        <div class="section-title">
                                            <h4 class="rbt-title-style-3">Course Content</h4>
                                        </div>
                                        <div class="rbt-accordion-style rbt-accordion-02 accordion">
                                            <div class="accordion" id="accordionExampleb2">
                                                <ng-container *ngFor="let section of coursesSelected.malla; let i = index">
    
                                                    <div class="accordion-item card">
                                                        <h2 class="accordion-header card-header" id="headingTwo1">
                                                            <button class="accordion-button" [ngClass]="{'collapsed':i!=0}"
                                                                type="button" data-bs-toggle="collapse"
                                                                [attr.data-bs-target]="'#collapseTwo1'+section.id"
                                                                aria-expanded="true"
                                                                [attr.aria-controls]="'#collapseTwo1'+section.id">
                                                                {{section.name}} <span
                                                                    class="rbt-badge-5 ml--10">{{section.time_section}}</span>
                                                            </button>
                                                        </h2>
                                                        <div [attr.id]="'collapseTwo1'+section.id"
                                                            class="accordion-collapse collapse " [ngClass]="{'show':i==0}"
                                                            aria-labelledby="headingTwo1" data-bs-parent="#accordionExampleb2">
                                                            <div class="accordion-body card-body pr--0">
                                                                <ul class="rbt-course-main-content liststyle">
                                                                    <ng-container *ngFor="let clase of section.clases">
                                                                        <li>
                                                                            <a href="#" onclick="return false" (click)="openClase(clase)">
                                                                                <div class="course-content-left">
                                                                                    <i class="feather-play-circle"></i> <span
                                                                                        class="text">{{clase.name}}</span>
                                                                                </div>
                                                                                <div class="course-content-right">
                                                                                    <span
                                                                                        class="min-lable">{{clase.time_classe}}</span>
                                                                                    <!-- <span class="rbt-badge variation-03 bg-primary-opacity">
                                                                                        <i class="feather-eye"></i> Preview</span> -->
                                                                                </div>
                                                                            </a>
                                                                        </li>
            
                                                                    </ng-container>
            
            
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                </ng-container>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Course Content  -->
    
    
    
                            </div>
                            <!-- End Course Details  -->
    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- End Course Action Bottom  -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>