<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">

        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <!-- Start Breadcrumb Area  -->
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Portafolio: {{categoria?.name| translateKey}}</li>
                        </ul>
                        <!-- End Breadcrumb Area  -->

                        <div class=" title-wrapper">
                            <h1 class="title mb--0">Portafolio: {{categoria?.name | translateKey}}</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
    </div>
</div>

<!-- Start Card Style -->
<div class="rbt-blog-area rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <!-- Start Card Area -->
        <div class="row">
            <app-loading *ngIf="isLoading"></app-loading>
            <div class="col-lg-10 offset-lg-1 mt_dec--30" *ngIf="!isLoading">
                <ng-container *ngFor="let portafolio of portafolios">

                    <!-- Start Single Card  -->
                    <div class="rbt-card card-list variation-02 rbt-hover mt--30">
                        <div class="rbt-card-img">
                            <a data-bs-toggle="modal" [attr.data-bs-target]="'#' + portafolio.popup" class="cursor">
                                <div *ngIf="portafolio.img">
                                    <img [src]="(portafolio?.img||'') | imagenPipe:'portafolios'"
                                        alt="Malcolm Cordova Studio desing {{portafolio.title}}">
                                </div>
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title">{{portafolio.title | translateKey }}</h5>
                            <p [innerHTML]="(portafolio.introhome | translateKey)  | keepHtml"></p>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" data-bs-toggle="modal"
                                    [attr.data-bs-target]="'#' + portafolio.popup" class="cursor">+ info<i><svg
                                            width="17" height="12" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                <path stroke-linecap="square" d="M.663 5.572h14.594" />
                                            </g>
                                        </svg></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->
                </ng-container>
            </div>
        </div>
        <!-- End Card Area -->
    </div>
</div>
<!-- End Card Style -->

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>



<!-- modal -->
<div *ngFor="let portafolio of portafolios; let i = index">
    <div class="modal fade" id="{{portafolio.popup}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row dflex">
                        <div class="col-xs-12 col-sm-5">
                            <!-- 1. Título dinámico usando corchetes -->
                            <h3>{{ portafolio.title| translateKey  }}</h3>

                            <!-- 2. Descripción bilingüe combinada con tu pipe de HTML seguro -->
                            <p [innerHTML]="(portafolio.description | translateKey)  | keepHtml"></p>

                            <div *ngIf="portafolio.url != 'null'">
                                <a [href]="portafolio.url" target="_blank" class="btn btn-outline-primary">
                                    <!-- 3. Botón traducido según el idioma -->
                                    {{ currentLang === 'es' ? 'visitar' : 'visit' }}
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <!-- Step Indicator -->
                            <div class="step-indicator m-t-20 m-b-20">
                                <div class="step" *ngIf="portafolio.youtubeurl "
                                    [ngClass]="{'active': currentStep >= 1, 'completed': currentStep > 1}">
                                    <span class="step-number">1</span>
                                    <span class="step-label">Imagen </span>
                                </div>
                                <div class="step-line" *ngIf="portafolio.youtubeurl "></div>
                                <div class="step" *ngIf="portafolio.youtubeurl "
                                    [ngClass]="{'active': currentStep >= 2}">
                                    <span class="step-number">2</span>
                                    <span class="step-label">Video</span>
                                </div>

                            </div>
                            <div *ngIf="currentStep === 1">
                                <div *ngIf="portafolio.img">
                                    <img [src]="(portafolio?.img||'') | imagenPipe:'portafolios'"
                                        alt="Malcolm Cordova Studio desing {{portafolio.title}}">
                                </div>
                                <div class="row">
                                    <div class="col-4" *ngIf="portafolio.youtubeurl ">
                                        <button class="btn btn-success waves-effect waves-light m-r-10 btn-block"
                                            type="button" (click)="nextStep()">{{'Ver Video'|translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="currentStep === 2">
                                <iframe [src]="portafolio.youtubeurl | safeUrl" width="100%" height="400"
                                    frameborder="0" allowfullscreen>
                                </iframe>
                                <div class="row">


                                    <div class="col-4">
                                        <button class="btn btn-success waves-effect waves-light m-r-10 btn-block"
                                            type="button" (click)="prevStep()">{{'Ver imagen'|translate}}</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<app-footer></app-footer>