<footer class="rbt-footer footer-style-1">
    <div class="footer-top">
        <div class="container">
            <div class="row row--15 mt_dec--30">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="footer-widget">
                        <div class="logo">
                            <a href="/">
                                <img src="assets/images/logo/logotipo.png" alt="Malcolm Cordova">
                            </a>
                        </div>

                        <p class="description mt--20">Siempre en la busqueda de crear desarrollos con sólo imaginar.
                        </p>

                        <div class="contact-btn mt--30">
                            <a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" routerLink="/contact">
                                <div class="icon-reverse-wrapper">
                                    <span class="btn-text">{{ 'Contactame'|translate}}</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30 xs-hidden">
                    <div class="footer-widget">
                        <h5 class="ft-title">{{ 'Portafolio'|translate}}</h5>
                        <ul class="ft-link">
                            <ng-container  *ngFor="let category of categorias">
                                <li >
                                    
                                    <a [routerLink]="['/portafolio/category/', category.id]">{{category.name}}</a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
<!-- 
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="footer-widget">
                        <h5 class="ft-title">Our Company</h5>
                        <ul class="ft-link">
                            <li>
                                <a routerLink="/contact">Contact Us</a>
                            </li>
                            
                        </ul>
                    </div>
                </div> -->

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="footer-widget">
                        <h5 class="ft-title">{{ 'Contacto'|translate}}</h5>
                        <ul class="ft-link">
                            <li><span>{{ 'Teléfono'|translate}}:</span> <a href="tel:+584241874370" target="_blank">(+58)424-187.43.70</a></li>
                            <li><span>Whatsapp:</span> <a href="https://wa.me/584241874370" target="_blank">(+58)424-187.43.70</a></li>
                           
                            <!-- <li><span>E-mail:</span> <a href="mailto: mercadocreativo@gmail.com">mercadocreativo@gmail.com</a></li> -->
                            <li><span>{{ 'Ubicación'|translate}}:</span> Caracas, Venezuela</li>
                        </ul>
                        <ul class="social-icon social-default icon-naked justify-content-start mt--20 xs-hidden">
                            <li>
                                <a href="https://facebook.com/@malcolmcordova"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <!-- <li>
                                <a href="https://intagram.com/@malcolmcordova"><i class="fab fa-twitter"></i></a>
                            </li> -->
                            <li>
                                <a href="https://linkedin.com/@malcolmcordova"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/@malcolmcordova"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- End Footer aera -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<!-- Start Copyright Area  -->
<div class="copyright-area copyright-style-1 ptb--20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                <p class="rbt-link-hover text-center text-lg-start">Copyright © 2023 <a href="https://malcolmcordova.com">Malcolm Cordova Studio Design.</a> All Rights Reserved</p>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                <ul class="copyright-link rbt-link-hover justify-content-center justify-content-lg-end mt_sm--10 mt_md--10">
                    <!-- <li><a href="#">Terms of service</a></li>
                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                    <li><a href="subscription.html">Subscription</a></li>
                    <li><a href="login.html">Login & Register</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Area  -->

<!---menu movil footer-->
<div class="navbarM ">
    <a routerLink="/">
        <img src="./assets/svg/hogar.svg" alt="">
        <p>{{ 'Inicio'|translate}}</p>
    </a>
    <a routerLink="/soluciones-web" >
        <img src="./assets/svg/prismaticos.svg" alt="">
        <p>{{ 'Soluciones'|translate}}</p>
    </a>
    <a routerLink="/portafolio-movil" >
        <img src="./assets/svg/mundo.svg" alt="">
        <p>{{ 'Portafolio'|translate}}</p>
    </a>
    <a routerLink="/acerca-de" >
        <img src="./assets/svg/marcador.svg" alt="">
        <p>{{ 'Acerca de'|translate}}</p>
    </a>
</div>